
</div> <!-- end container -->

<nav class="navbar navbar-light bg-light mt-3">
  <div class="container-fluid text-center">
    <p class="brand">
      Made by <a href="https://github.com/hathix">Neel Mehta</a>
      for <a href="https://productalliance.com/start">Product Alliance</a>.
    </p>
  </div>
</nav>

{# a comment #}

  <!-- Add your site or application content here -->
  <!-- <p>Hello world! This is HTML5 Boilerplate.</p>
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script> -->

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!-- <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script> -->
</body>
</html>
