
</div> <!-- end container -->

<nav class="navbar navbar-light bg-light mt-5">
  <div class="container-fluid text-center">
    <span class="brand">
      Made by <a href="https://github.com/hathix">Neel Mehta</a>.
      Sponsored by <a href="https://productalliance.com/start">Product Alliance</a>.
    </span>
  </div>
</nav>

{# a comment #}

  <!-- Add your site or application content here -->
  <!-- <p>Hello world! This is HTML5 Boilerplate.</p>
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script> -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SS8W5JR12D"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SS8W5JR12D');
  </script>

</body>
</html>
