<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% if title_addon %}
      {{ title_addon }} |
    {% endif %}
    Thinkpiecer
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{% if title_addon %}{{ title_addon }} | {% endif %}Thinkpiecer">
  <meta property="og:description" content="Search thinkpieces from the ~30 best product management writers.">
  <meta property="og:type" content="">
  <meta property="og:url" content="https://thinkpiecer.herokuapp.com">
  <!-- <meta property="og:image" content="{{ url_for('static', filename='icon.png') }}"> -->

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <!-- Place favicon.ico in the root directory -->

  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css"> -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


  <meta name="theme-color" content="#fafafa">
</head>
<body>

    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">💡 Thinkpiecer</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/posts/neelmehta18_productmanagement-interviewtips-apm-activity-6744279690539749376-DUow" target="_blank">Suggest a newsletter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSd_oe-LBRtJjr4ffNdyqWCtcAQ8NHm-MFHS12rAU9f-P3S8xA/viewform?usp=sf_link" target="_blank">Got feedback?</a>
            </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
