{% macro searchbox(query='') -%}
  <form action="search" method="GET">
    <p>
      <em>Tip: type all-lowercase for a case-insensitive search;
        capitalize words for a case-sensitive search. For instance,
        "Notion" will only get results for the note-taking app, while
        "notion" will get any thinkpiece that uses the word "notion" (probably
        not what you intended).</em>
    </p>

    <div class="input-group mb-3">
      <input type="text" name="query" class="form-control"
        autocapitalize="none"
        placeholder='Query (e.g. Netflix, "marginal cost")'
        value="{{ query }}">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
{%- endmacro %}
