{% macro searchbox(query='') -%}
  <form action="search" method="GET">
    <p>
      <em>Tip: type all-lowercase for a case-insensitive search;
        capitalize words for a case-sensitive search. For instance,
        "Notion" will only get results for the note-taking app, while
        "notion" will get any thinkpiece that uses the word "notion" (probably
        not what you intended).</em>
    </p>

    <div class="input-group mb-3">
      <input type="text" name="query" class="form-control"
        autocapitalize="none" required
        placeholder='Query (e.g. Netflix, fintech)'
        value="{{ query }}">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
{%- endmacro %}


{# Render a search result card. You don't need to pass any of these fields
   through a filter, we'll do that for you.
   Make sure you embed this within a list-group#}
{% macro searchresult(url, title, author, publication, date, snippet) -%}
  <li class="list-group-item">
    <h4>
      <a href="{{ url }}" target="_blank">
        {{ title | safe }}
      </a>
    </h4>
    <p class="lead">
      {% if author %}
        {{ author | safe }}
      {% endif %}
      {% if publication %}
        in {{ publication | safe }}
      {% endif %}
      {% if date %}
        on {{ date | datetime }}
      {% endif %}
    </p>

    <p>
      <em>{{ snippet | safe }}</em>
    </p>
  </li>
{%- endmacro %}
