{% include 'header.html' %}

  <h1>Search Results</h1>

  {% from 'macros.html' import searchbox %}
  {{ searchbox(query) }}

  <ul class="list-group">
    {% for hit in results %}
        <li class="list-group-item">
          <h4>
            <a href="{{ hit.url }}" target="_blank">
              {{ hit.title | safe }}
            </a>
          </h4>
          <p class="lead">
            {% if hit.author %}
              {{ hit.author | safe }} in
            {% endif %}
            {{ hit.publication | safe }} on {{ hit.published | datetime }}
          </p>

          <p>
            <em>{{ hit.highlights | safe }}</em>
          </p>

          <!-- Score: {{ hit.score }}. -->
        </li>
    {% else %}
      <li class="list-group-item list-group-item-danger">
        No results found :(
        {% if recommended_query %}
          <a href="/search?query={{ recommended_query }}">
            Try searching for "{{ recommended_query }}" (lowercase) instead.
          </a>
        {% else %}
          <a href="https://www.linkedin.com/posts/neelmehta18_productmanagement-interviewtips-apm-activity-6744279690539749376-DUow" target="_blank">Suggest a newsletter that covers {{ query }}?</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% include 'footer.html' %}
